/BigData/input
/BigData/output
logs
target
/BigData/!/.idea/inspectionProfiles
/BigData/.idea
/BigData/.idea_modules
/BigData/.classpath
/BigData/.project
/BigData/.settings
/BigData/RUNNING_PID
.vagrant
